body {
  font-family: 'Open Sans', sans-serif;
  text-decoration: none;
  font-weight: light;
}

header {
  color: #E9E9F3;
  font-size: 30px;
  font-weight: bold;
  border-bottom: 3px solid #353567;
  padding: 10px;
  margin-left: 5px;
}

img {
  width: 20px;
  height: 20px;
  padding: 5px;
}


h4 {
  color: #BFBFDD;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-left: 10px;
}

.body-container {
  height: 100vh;
  display: flex;
}

main {
  width: 80%;
  display: flex;
  flex-direction: column;
}

.idea-form {
  height: 475px;
  background-color: #A9AAD2;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

h3 {
  padding: 0;
  margin: 0;
  text-align: left;
  color: #1F1E3D;
  font-weight: bold;
}

form {
  width: 33%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
}

.title-field {
  width: 100%;
}

.body-field {
  width: 100%;
}

.search-field {
  background-color: #5356A4;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.input {
  margin-top: 0;
  border: 2px solid #5356A4;
  width: 100%;
  border-radius: 3px;
}

#title-input {
  height: 30px;
}

#body-input {
  height: 100px;
}

#search-input {
  color: #A9AAD2;
  margin-top: 0;
  border: 2px solid #5356A4;
  width: 100%;
  border-radius: 3px;
}

.saved-button {
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  width: 100%;
  height: 50px;
  color: white;
  background-color: #1F1F3D;
  border: 1px solid #5356A4;
  font-weight: bold;
}

.save-dis {
  background-color: #EAEAF4;
}

.save-dis:hover {
  cursor: not-allowed;
}

.save-en {
  background-color: #1F1F3D;
}

.save-en:hover {
  cursor: pointer;
}

.filter-starred-ideas {
  margin: 5px;
  border-bottom: 3px solid #353567;
}

.starred-button {
  font-family: 'Open Sans', sans-serif;
  width: 90%;
  height: 50px;
  margin-top: 5px;
  margin-bottom: 30px;
  margin-left: 10px;
  margin-right: 10px;
  background-color: #5356A4;
  color: #E9E9F3;
  font-size: 20px;
  font-weight: bold;
  border: none;
  border-radius: 3px;
}

.nav-container {
  width: 20%;
  background-color: #1F1E3D;
  height: 100%;
}


.idea-display {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #EAEAF4;
  justify-content: flex-start;
}

.idea-box {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  border: 2px solid #1F1F3D;
  font-size: 10px;
  width: 225px;
  height: 250px;
  margin: 20px;
}

.top-bar {
  height: 30px;
  background-color: #1F1E3D;
  display: flex;
	justify-content: space-between;
	align-items: center;
}

.idea-title {
  font-size: 20px;
  margin: 10px;
}

.idea-body {
  font-size: 15px;
  margin: 5px;
  padding: 10px;
}

.box-body {
  background-color: #FFFFFF;
  color: #1F1E3D;
  height: 190px;
}

.idea-body {
  margin: 0px;
}

.bottom-bar {
  background-color: #5356A4;
  display: flex;
  justify-content: flex-start;
	align-items: center;
  height: 30px;
  /* margin: 0px;
  padding: 0px; */
}

.idea-box-comment {
  margin: 0px;
}
